[include thermistors.cfg]
# Import 100K thermistor definitions.

# This is a slow heater meant for 96-well plates.
[heater_generic well_plate_heater]
samples: 10
# PID_CALIBRATE HEATER=well_plate_heater TARGET=42 WRITE_FILE=1
gcode_id: INCUB
#   The id to use when reporting the temperature in the M105 command.
#   This parameter must be provided.
heater_pin: heaters:PB0   # D8 pin: PWM output connected to the heater's power MOSFET.
max_power: 0.5            # Limit the signal output to 50% to prevent overheating.
sensor_type: thermistor1  # Generic 3950 # EPCOS 100K B57560G104F
sensor_pin: heaters:PC0   # A0 pin: Analog input pin connected to the sensor.
pullup_resistor: 67400    # Using 9930 Ohm was far noisier.
smooth_time: 2
control: pid
# PID parameters: increased P+1.0 and I+0.003, 44°C took long to reach.
pid_Kp: 7.0
pid_Ki: 0.008
pid_Kd: 1.0
#pwm_cycle_time:
min_temp: 18
max_temp: 60

# It is critical to increase timeouts for slow heaters.
[idle_timeout]
gcode:
  M84
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 600
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.

# It is critical to increase timeouts for slow heaters.
[verify_heater well_plate_heater]
#max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 90
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.
